* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-decoration: underline;
}


#formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(red, yellow, blue);
  padding: 20px;
}

form {
  margin: 30px;
}

fieldset {
  height: 500px;
  width: 500px;
  padding: 20px;
  box-shadow: 10px 10px 20px white;
}

.label {

  padding: 10px;
  margin: 10px 20px;
  font-size: 20px;
}

.input {
  width: 90%;
  height: 35px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 20px;
}

.btn-submit {
  display: block;
  margin: auto;
  height: 50px;
  width: 30%;
  font-size: 15px;
  border-radius: 10px;
}

.btn-submit:hover {
  color: white;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}

#studentRecordsSection {
  display: flex;
  height: 100vh;
  padding-top: 50px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid black;
  background-image: linear-gradient(rgb(236, 127, 127), rgb(238, 238, 70), rgb(110, 110, 248));
  padding: 80px 20px;
}

#table {
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  box-shadow: 10px 10px 20px white;
}



td {
  text-align: center;
  font-size: 19px;
}

th {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

button {
  height: 30px;
  /* width: 30%; */
  font-size: 17px;
  padding: 5px;
  border-radius: 10px;
}

button:hover {
  color: white;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}

.actions {
  width: 100px;
  margin: 2px -20px;
}

.delete:hover {
  color: white;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
}

.edit:hover {
  color: white;
  background-color: rgb(236, 236, 44);
  border-radius: 10px;
  cursor: pointer;
}

.scrollContent {
  max-height: 60%;
  overflow: scroll;
  overflow-x: hidden;
  width: 90%;
}